.avatar-show-img {
  width: 128px;
  height: 128px;
}

.job-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #de783b;
  border-radius: 4px;
  background-color: #de783b;
  color: white;
  text-align: center;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #E3A681;
  border-color: #DE783B; 
}

.well.profile-contact-info {
  background-color: #E38583;
  border-color: #DE783B;
}

.user-idex-avatar {
   width: 128px;
  height: 128px;
  border-radius: 50%;
}

.well.white-bg {
  background-color: white;
}