.avatar-show-img {
  width: 128px;
  height: 128px;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #E3A681;
  border-color: #DE783B; 
}

.well.profile-contact-info {
  background-color: #E38583;
  border-color: #DE783B;
}